.page_book{
    font-size: 14px;
}
.book-search{
    padding:10px;
    text-align: center;
}
.book-search input[type="text"]{
    background: url("img/icon_search.png") no-repeat 3px center / 20px;
    border: 1px solid #e1e1e1;
    border-radius: 3px 0 0 3px;
    padding:3px 3px 3px 28px;
    width:75%;
 }
.book-search input[type="button"]{
    background: #1a6fbf;
    border:none;
    border-radius: 0 3px 3px 0;
    color:#fff;
    padding:4px 15px;
    margin-left: -4px;
}
.book{margin:8px 0 0 0;}
.book .col-xs-6 {width: 50%; float: left;}
.book div{padding:0;}
.book div div{
    text-align: center;
    padding: 15px;
    margin: 0 2% 4%;
    background: #fff;
    width: 96%;
    position: relative;
}
.book img{
    width:80%;
    margin-top:10px;
}
.book p.book_name {margin-bottom:2px; color: #000;   
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.book p.book_price {margin-bottom:3px; color: #ff9c00;}
.book div.book-more{padding:5px 0 10px; clear: both;}
.book div.book-more a{color:#1a6fc0;}
.book i.yushou{
    position: absolute;
    top: 0;
    left: 0;
    background: #ffab14;
    color: #fff;
    font-style: normal;
    padding: 2px 8px;
    font-size:12px;
}
.h30{
    height:30px;
}