

<div class="index_body" style="overflow-x:hidden;">

<nav class="navbar navbar-fixed-top bg_white" role="navigation">
   
        <div class="navbar-header bg_white">
            <a class="navbar-brand" href="#"><img src="/webpage/seveneast/index/images/logo.png" /> </a>
            <div class="pull-right tel">
                <img src="/webpage/seveneast/index/images/tel.png" class="tel" alt="4009-900-600"/>
                <div class="sk_djs">距司法考试还有<span>232</span>天</div>
            </div>
        </div>
    
    <div class="">
        <div id="navbar" class="navbar-collapse top_nav">
            <ul class="nav navbar-nav">
                 <li class="hd hdlesson"><a href="/f/seveneast/hdlesson/lesson.html">免费课堂</a></li>
                <li class="hd hdbook"><a href="/f/seveneast/hdbook/book.html">独家教材</a></li>
                <li class="hd hdwechatface"><a href="/webpage/seveneast/wechat/wechatface_bj.jsp">面授课程</a></li>
                <li class="hd hdteacher"><a href="/f/seveneast/hdteacher/teacher.html">师资介绍</a></li>
                <li class="hd"><a href="#contact">厚大题库</a></li>
                  <li class="hd hdqgfx"><a href="/webpage/seveneast/qgfx/qgfx.jsp">全国分校</a></li>
                <li class="hd hdnews"><a href="/f/seveneast/hdnews/news.html">最新资讯</a></li>
                <li class="hd hdzx360"><a href="/webpage/seveneast/zx360/zx360.jsp">厚大在线360</a></li>
                <li class="hd hdkefu"><a href="/f/seveneast/hdkefu/kefu.html">客服中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" data-id="170112111701">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox" data-box="lunbotu" data-id="170112111702">
        <div class="item active" data-click="lunbotu-01">
            <img src="/webpage/seveneast/index/images/wap_banner.jpg" alt="First slide">
        </div>
        <div class="item" data-click="lunbotu-02">
            <img src="/webpage/seveneast/index/images/wap_banner.jpg" alt="Second slide">
        </div>
        <div class="item" data-click="lunbotu-03">
            <img src="/webpage/seveneast/index/images/wap_banner.jpg" alt="Third slide">
        </div>
    </div>

</div>
<div class="index_news">
    公告：<a href="/f/seveneast/hdnews/newsdetail?id=541">厚大司考全体老师给大家拜年啦</a>
</div>

<div class="row index_tool">
    <div class="col-xs-4">
        <a href="/f/seveneast/hdlesson/lesson.html">
        <h2><img src="/webpage/seveneast/index/images/tool_icon1.png" /></h2>
        <p>网络课堂</p>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="/webpage/seveneast/index/app.jsp">
        <h2><img src="/webpage/seveneast/index/images/tool_icon2.png"/></h2>
        <p>APP下载</p>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="javascript:;">
        <h2><img src="/webpage/seveneast/index/images/tool_icon3.png"/></h2>
        <p>近期讲座</p>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="/webpage/seveneast/wechat/wechatface_bj.jsp">
        <h2><img src="/webpage/seveneast/index/images/tool_icon4.png"/></h2>
        <p>面授班</p>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="javascript:;">
        <h2><img src="/webpage/seveneast/index/images/tool_icon5.png"/></h2>
        <p>勘误</p>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="javascript:;">
        <h2><img src="/webpage/seveneast/index/images/tool_icon6.png"/></h2>
        <p>讲义下载</p>
        </a>
    </div>
</div>
<div class="index_lesson" >
    <div class="page-header" onclick="window.location.href = '/f/seveneast/hdlesson/lesson.html'">
        <h3><i></i>独家名师免费课程</h3>
        <p class="lead">全名师、全高清、全免费、全课程，司法考试听这个就够了！</p>
    </div>
    
    
    <div class="lessons" data-id="lessons"  style="overflow-x: auto;">
        <ul>
        </ul>        
    </div>
    <div class="hand"><img src="/webpage/seveneast/index/images/hand.png" alt="滑动"/></div>
</div>

<!--独家名师免费图书-->
<div class="index_lesson index_book">
    <div class="page-header" onclick="window.location.href = '/f/seveneast/hdbook/book.html'">
        <h3><i></i>独家名师免费图书</h3>
        <p class="lead">司法考试看这个就够了！</p>
    </div>
    <div class="lessons books">

        <div style="overflow-x: auto;">
            <ul class="book_list clearfix" data-id="170103171900">
            </ul>
        </div>
        
    </div>
</div>
<section class="bot">
    <div class="row bot_tool ">
        <div class="col-xs-4">
            <p><img src="/webpage/seveneast/index/images/bot_icon1.png" alt="客户端"/></p>
            <p>客户端</p>
        </div>
        <div class="col-xs-4">
            <p><img src="/webpage/seveneast/index/images/bot_icon2.png" alt="触屏版"/></p>
            <p class="black">触屏版</p>
        </div>
        <div class="col-xs-4">
            <p><img src="/webpage/seveneast/index/images/bot_icon3.png" alt="电脑版"/></p>
            <p>电脑版</p>
        </div>
    </div>
    <div class="bot_nav">
        <a href="javascript:;">关于厚大</a>
        <a href="javascript:;">人才招聘</a>
        <a href="javascript:;">物流查询</a>
        <a href="javascript:;">付款方式</a>
        <a href="javascript:;">常见问题</a>
        <a href="javascript:;">客服中心</a>
    </div>
    <div class="copyright">
        <span class="en">Copyright &copy; 2013 Beijing Houda Xuancheng <br />Education Technology Corp.</span><br />
        北京厚大轩成教育科技股份公司
    </div>
</section>
<footer class="navbar navbar-default navbar-fixed-bottom">
<div class="row footer">
    <div class="col-xs-3">
        <a href="javascript:;" class="active">
            <p class="footer_icon1"></p>
            <p>返回首页</p>
        </a>
    </div>
    <div class="col-xs-3">
        <a href="javascript:;">
            <p class="footer_icon2"></p>
            <p>网站导航</p>
        </a>
    </div>
    <div class="col-xs-3">
        <a href="javascript:;">
            <p class="footer_icon3"></p>
            <p>厚大微博</p>
        </a>
    </div>
    <div class="col-xs-3">
        <a href="javascript:;">
            <p class="footer_icon4"></p>
            <p>个人中心</p>
        </a>
    </div>
</div>
</footer>
</div>